<ion-header>
  <ion-toolbar>
    <ion-title>listaRopa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Lista de Ropa
    </ion-list-header>

    <ion-item *ngFor="let ro of ropa | async">
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-label >
        <h2>Modelo: {{ro.modelo}}</h2>
        <h3>Marca :{{ro.marca}}</h3>
        <h3>Precio: {{ro.precio}}</h3>
        <h3>Origen:{{ro.origen}}</h3>
        <h3>Diseñador:{{ro.diseniador}}</h3>
        <ion-img src="{{ro.foto}}"  height='60' width='120'></ion-img>

      </ion-label>
    </ion-item>
   
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="regresar()">
      <ion-icon name="arrow-forward-circle"> </ion-icon>
    </ion-fab-button>
    
    </ion-fab>
</ion-content>
