<ion-header>
  <ion-toolbar>
    <ion-title>crearRopa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Registre Ropa</h3>
  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-input [(ngModel)]="ropa.modelo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input [(ngModel)]="ropa.marca"></ion-input>
  </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="ropa.precio"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating">Origen</ion-label>
    <ion-input [(ngModel)]="ropa.origen"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Diseniado</ion-label>
    <ion-input [(ngModel)]="ropa.diseniador"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Foto</ion-label>
    <ion-input [(ngModel)]="ropa.foto"></ion-input>
  </ion-item>


  <ion-item>
    <ion-button color="dark" (click)="guardar()">Enviar</ion-button>
  </ion-item>

</ion-content>
